.toy-spinner {
    animation: spin 0.8s linear infinite;
    display: block;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}